# Dependencies
node_modules/

# Environment variables
.env

# Reports and test artifacts
reports/
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test screenshots and visual diffs
screenshots/
visual-diffs/
